{% extends 'template.html.twig' %}

{% block body %}

    <div class="container">
        <div>&nbsp;&nbsp;&nbsp;</div>
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">Sncf Accout Manager !!</h3></div>
            <div class="panel-body">
                <div>&nbsp;&nbsp;&nbsp;</div>
                <div class="well">
                    {# {{form_start(Updform,{'action': path('admin_profil_update', { 'idAdminUser': adminUser.id }) , 'method': 'POST', 'attr':{'class':'form-horizontal', 'name':'userAMForm', 'id':'formAmId' } } ) }} #}
                    {{ form_start(form,{'action':'' , 'method': 'POST', 'attr':{'class':'form-horizontal', 'name':'userAMForm', 'id':'formAmId' } } ) }}

                        <div class="form-group">
                            <label class="control-label col-sm-3" for="email">Username:</label>
                            <div class="col-sm-9">
                                {{form_widget(form.email,{'attr':{'class':'form-control','placeholder':'Saisissez votre adresse email' }})}}
                                {{ form_errors(form.email) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-3 text-right"><label>Supprimer mon compte:</label></div>
                            <div class="col-sm-9 text-left">
                                    {{form_widget(form.account,{'attr':{'class':'custom-control-input' }})}}
                                    {{ form_errors(form.account) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-3 text-right"><label>Supprimer mon optin:</label></div>
                            <div class="col-sm-9 text-left">
                                    {{form_widget(form.optin,{'attr':{'class':'custom-control-input' }})}}
                                    {{ form_errors(form.optin) }}
                            </div>
                        </div>

                    <div class="form-group">
                        <div class="col-sm-3 text-right">&nbsp;</div>
                        <div class="col-sm-9 text-left">
                            {{form_widget(form.token,{'attr':{'class':'custom-control-input' }})}}
                            {{ form_errors(form.token) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-3 text-right">&nbsp;</div>
                        <div class="col-sm-9 text-left">
                            {{form_widget(form.isValidate,{'attr':{'class':'custom-control-input' }})}}
                            {{ form_errors(form.isValidate) }}
                        </div>
                    </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                {# <button type="type" class="btn btn-primary btn-block" id="IdSubmit" >Valider</button> #}
                                {{ form_widget(form.valider,{'attr':{'class':'btn btn-primary btn-block'}}) }}
                            </div>
                        </div>
                    {{form_end(form)}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}