<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('css/bootstrap-extend.min.css')}}">

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>

<body>


{% block body %}{% endblock %}

{% block javascripts %}{% endblock %}

<script src="{{asset('jquery/jquery-2.1.4.min.js')}}"></script>

<script>
    //Ci dessous ma fonction qui gère sur l'écran [http://localhost:8000/admin/dashboard/current]
    $(function(){

        // bind change event to select
        $('#formAmId').on('submit', function () {

            if (document.getElementById("usernameId").value != "")
            {
                alert("Je suis la !! [" + document.getElementById("usernameId").value + "]");
            }

            return false;

            //Ici je récupère le chemin(Url) de la page en cours
            var path = window.location.href;
            var url = $(this).val(); // get selected value //alert('Je passe par ici et je suis à la page :[' + url + ']');

            path = path.substring(0, window.location.href.indexOf('/current'));

            if( url )// require a URL
                window.location = path + '/current' + url; // redirect

            /*
             if( url && url !== "/apg" )// require a URL
             window.location = path + '/current' + url; // redirect
             else
             var request = path + '/current' + url;

             //J'utilise Ajax pour générer ma 2ème liste déroulante qui devra contenir tous les Groupes de Point d'accès.
             //var request = path + '/current' + url;

             //Ci-dessous je modifie l'option selected de ma liste déroulante en gardant l'option que je viens de sélectionner.
             //$('#dynamic_select option[value='+url+']').prop('selected', true); //document.getElementById('dynamic_select').

             //On regarde si ce qu'on a saisi à une longueur de 5 caractères, et si c'est le cas on fait:
             //On envoie notre requête ajax
             if( url === "/apg" ) {
             //console.log('ok ok ok !!!');
             $.ajax({
             //On indique la methode d'envoi de notre requête au serveur.
             type: 'get',
             //ON indique l'url qui constitue notre requête.
             url: request,
             //Avant l'envoie de la requête on affiche un msg disant que ça charge
             beforeSend: function(){
             console.log('ça charge ....');
             //Pendant le chargement on peut faire apparaitre une image de loading si on le souhaite
             },
             //Au cas ou la requête est arrivé et que le serveur repond par notre controleur [_controller: NHMAdminBundle:IndexController:dashboardCurrentApg]
             //ici data correspond à l'objet Json renvoyé par le serveur via notre controller
             success: function(data) {
             //On dit ici que le champ ville(dont l'attribut class='ville') prend la valeur [data.ville] si data.ville != ''
             //càd la valeur lié à la clé 'ville'de notre objet Json qui est de la forme [{"ville":"PLAISIR"}]
             if (data.apgs === '' || data.apgs === null)
             $("#idDivApg").val("Aucun Groupe de point d'accès trouvé !!");
             else
             {
             //console.log(data); $("#idDivApg").val(data);
             document.getElementById("idDivApg").style.display= 'inline-block';
             var selectTag = '<select  id="idListApg" name="groupeApg"  >';
             selectTag += '<option value="choixAPG" >Choisissez un Groupe d\'AP</option>';
             for ( var prop in data )
             {
             selectTag +='<option value="/'+data[prop]["id"]+'">'+data[prop]["name"]+'</option>';
             }
             selectTag+='</select>';
             document.getElementById("idDivApg").innerHTML = selectTag;
             }

             //console.log('Groupe APG OK !! Nbre objet == ['+data+'] Valeur == ['+data.apgs+'] ');
             for ( var prop in data )
             {
             console.log ('Groupe APG OK !!Clé == ['+prop+']  Nbre objet == ['+data+'] Valeur ID == ['+data[prop]["id"]+'] et Name == ['+data[prop]["name"]+'] ');
             //console.log("Groupe APG OK!! Clé == ["+prop+"] ou Object.keys(data.apgs) == ["+Object.keys(data)+"] et Valeur == " + data[prop]+" Propriété == ["+Object.getOwnPropertyNames(data)+"]  ");
             //console.log("Groupe APG OK 22!! Clé == [" + prop + "] et ID == " + data.apgs["id"]+"  Name == " + data.apgs["name"]+" captivePortal_id == " + data.apgs["captivePortal_id"]+" accessController_id == " + data.apgs["accessController_id"]+" ");
             }
             }
             })
             }
             */


        });


        // Si on a sélectionné un Groupe d'APG, alors j'exécute ce qui suit :
        $('#idListApg').on('change', function () {
            //Ici je récupère le chemin(Url) de la page en cours
            var path = window.location.href;
            var optSelect = $(this).val(); // get selected value; // alert('Je passe par ici et je suis à la page optSelect:[' + optSelect + ']');

            //if( window.location.href.indexOf('admin/profile/upd/') > 0 ) {}
            window.location = path+optSelect;
        });

    });
</script>
</body>

</html>